Repository worldbank/dime-data-handbook, pull requests merged in 2020-01, with the labels that each got.

#303 [ch 1] - QUICK PR - small encryption edits
  chapters/handling-data.tex
Labels: Ch 1: Handling data ethically

#306 [ch 1] QUICK PR - one more point why email is not note-taking
  chapters/handling-data.tex
Labels: Ch 1: Handling data ethically

#309 [ch 2] - QUICK PR
  chapters/planning-data-work.tex
Labels: Ch 2: Planning Data Work

#317 QUICK PR - ch 2 iegitaddmd
  chapters/planning-data-work.tex
Labels: Ch 2: Planning Data Work

#322 Removing the quote before r(table)
  code/code.do
Labels: stata

#320 ch4 - QUICK PR - randomization rules
  chapters/sampling-randomization-power.tex
Labels: Ch 4: Sampling

#223 Chapter 1 Revision
  bibliography.bib
  chapters/handling-data.tex
Labels: Ch 1: Handling data ethically

#261 Chapter 2 Revision
  chapters/planning-data-work.tex
  chapters/preamble.tex
  manuscript.tex
Labels: Ch 2: Planning Data Work

#268 Chapter 3 revision
  bibliography.bib
  chapters/research-design.tex
  manuscript.tex
Labels: Ch 3: Designing Research methods

#292 Chapter 4 Revision
  bibliography.bib
  chapters/sampling-randomization-power.tex
Labels: Ch 4: Sampling

#310 Chapter 5 Revision
  chapters/data-collection.tex
Labels: Ch 5: Collecting Primary Data

#308 ch6 : data analysis - re-write
  bibliography.bib
  chapters/data-analysis.tex
Labels: Ch 6: Analyzing Survey Data

#293 Chapter 7 Revision
  bibliography.bib
  chapters/publication.tex
  code/citation.tex
Labels: Ch 7: Publishing research
