Repository worldbank/dime-data-handbook, pull requests merged in 2020-02, with the labels that each got.

#356 #53 : run code from master
  chapters/planning-data-work.tex
Labels: Ch 2: Planning Data Work

#359 Ch4 code examples
  chapters/planning-data-work.tex
  chapters/sampling-randomization-power.tex
  code/minimum-detectable-effect.do
  code/minimum-sample-size.do
  code/randomization-cf.do
  code/randomization-program-1.do
  code/randomization-program-2.do
  code/randtreat-clusters.do
  code/randtreat-strata.do
  code/replicability.do
  code/sample-noise.do
  code/simple-multi-arm-randomization.do
  code/simple-sample.do
  code/stata-master-dofile.do
Labels: Ch 2: Planning Data Work, Ch 4: Sampling, stata

#294 Appendix Revision
  appendix/stata-guide.tex
  code/stata-before-saving.do
  code/stata-boilerplate.do
  code/stata-comments.do
  code/stata-conditional-expressions1.do
  code/stata-conditional-expressions2.do
  code/stata-filepaths.do
  code/stata-linebreak.do
  code/stata-loops.do
  code/stata-macros.do
  code/stata-whitespace-columns.do
  code/stata-whitespace-indentation.do
Labels: Appendix: Stata Style Guide

#408 Clarify non-experimental cross-sections
  bibliography.bib
  chapters/research-design.tex
Labels: Ch 3: Designing Research methods, now

#407 Integrating data
  chapters/data-analysis.tex
Labels: Ch 6: Analyzing Survey Data, now

#406 Master dofile updates
  code/stata-master-dofile.do
Labels: Ch 2: Planning Data Work, now, stata

#409 Word search
  appendix/stata-guide.tex
  chapters/conclusion.tex
  chapters/data-analysis.tex
  chapters/data-collection.tex
  chapters/handling-data.tex
  chapters/introduction.tex
  chapters/planning-data-work.tex
  chapters/publication.tex
  chapters/research-design.tex
  chapters/sampling-randomization-power.tex
  code/replicability.do
  code/simple-sample.do
  code/stata-before-saving.do
  code/stata-master-dofile.do
Labels: now

#412 Add marias suggestions
  chapters/data-analysis.tex
Labels: now
